.main {
  display: inline-flex;
  padding: 10px;
}
.card {
  max-width: 275px;
  display: inline-flex;
  padding: 10px;
  margin: 10px;
  text-align: left;
}
.nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
