.main {
  display: inline-flex;
  padding: 10px;
}
.card {
  max-width: 275px;
  display: inline-flex;
  padding: 10px;
  margin: 10px;
  text-align: left;
}
.bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}
.title {
  font-size: 12px;
  text-align: center;
}
.pos {
  margin-bottom: 12px;
}
